extends ./layout/main.jade

block content
  h1=t('title')
  h2
    span.firstName=me.firstName
    span.lastName=me.lastName
  img(src=t('logo'))
  a(href=t('nextLanguageURL'))=t('nextLanguage')
  a(href=t('blogURL'))=t('blog')